body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-control {
	width: 47px;
	text-align: center;
}

.input-group[class*="col-"] {
    width:88px;

}

.foret {
	color: #B903D9;
	font-weight: bold;
}

.hidden-on-first-page {
  visibility: hidden;
}

.player {
	color: #178F01;
	font-weight: bold;
}

.col-md-6 {
  padding: 40px;
}

h1 {
	text-align: center;
	font-family: Gotham-Medium, "Times New Roman", Times, serif

}

.progress-bar {
  background-color: #9D9D9D;
}


@font-face {
    font-family: Gotham-Black;
    src: url('/static/fonts/Gotham-Black.otf');
}


@font-face {
    font-family: Gotham-Medium;
    src: url('/static/fonts/Gotham-Medium.otf');

}

@font-face {
    font-family: Whitney-Black;
    src: url('/static/fonts/WhitneyHTF-Black.otf');

}


@font-face {
    font-family: Gotham-Bold;
    src: url('/static/fonts/Gotham-Bold.otf');

}


h2, h3, a {
    font-family: Gotham-Medium, "Times New Roman", Times, serif
}

body, p {
	font-family: Whitney-Black,
}

.fireworks {
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}

.colbert {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  padding-top: 80px;
  padding-bottom: 30px
}

.tie {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  padding-top: 40px;
  padding-bottom: 30px
}
.points-totals {
  font-size: 18px;
}

.name {
  width:120px;
}

.centered-div {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.gray-text{
  color: #9d9d9d;
  text-align: center;
}

.name-button {
  background: #9d9d9d;
  color: #000000;
}

.name-button:hover {
  background: #dbdbdb;
  color: #000000;
}

.name-div {
  width: 200px;
}
