body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-control {
	width: 47px;
	text-align: center;
}

.input-group[class*="col-"] {
    width:88px;

}

.foret {
	color: #B903D9;
	font-weight: bold;

}

.player {
	color: #178F01;
	font-weight: bold;
}

.col-md-6 {
  padding: 40px;
}

h1 {
	text-align: center;
	font-family: Gotham-Medium, "Times New Roman", Times, serif

}

.progress-bar {
  background-color: #9D9D9D;
}


@font-face {
    font-family: Gotham-Black;
    src: url('/static/fonts/Gotham-Black.otf');
}


@font-face {
    font-family: Gotham-Medium;
    src: url('/static/fonts/Gotham-Medium.otf');

}

@font-face {
    font-family: Whitney-Black;
    src: url('/static/fonts/WhitneyHTF-Black.otf');

}


@font-face {
    font-family: Gotham-Bold;
    src: url('/static/fonts/Gotham-Bold.otf');

}


h2, h3, a {
    font-family: Gotham-Medium, "Times New Roman", Times, serif
}

body, p {
	font-family: Whitney-Black,
}

.fireworks {
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}
