<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Madame Forêt's Game</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">
    <link href="/static/sticky-footer.css" rel="stylesheet">
    <script src="/static/js/ChartNew.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Madame Forêt's Game</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/newgame">Start A New Game</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/scoreboard">Scoreboard</a></li>
          </ul>          
          <ul class="nav navbar-nav navbar-right">  

          {% if question_numb >0 %}
              <li class="foret points-totals" id="forets_words">Madame Forêt's Points: <span class="foret" id="total_forets_points">{{total_forets_points}}</span></li><br>
          {% else %}
              <li class="foret hidden-on-first-page points-totals" id="forets_words">Madame Forêt's Points: <span class="foret" id="total_forets_points">{{total_forets_points}}</span></li><br>
          {% endif %}

          {% if question_numb >0 %}
              <li class="player points-totals" id="players_words">Your Points: <span class="player" id="total_players_points">{{total_players_points}}</span></li>
          {% else %}
              <li class="player hidden-on-first-page points-totals" id="players_words">Your Points: <span class="player" id="total_players_points">{{total_players_points}}</span></li><br>
          {% endif %}

        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

   {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <br> <br>

    </div>

    <footer class="footer" id="footer">
      <div class="container" id="progress">
        <div class="progress progress-striped">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress_bar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_bar}}%;">
            <span class="sr-only">{{progress_bar}}% Complete</span>
          </div>
        </div>      
      </div>
    </footer>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="/static/js/custom.js"></script>

     <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--     // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
            {% block javascript %}{% endblock %}

  </body>
</html>
