<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Madame Forêt's Game</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">
        <!-- <img src="/static/img/pychic-ff8100.png" style:"width:100%"> -->


        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Madame Forêt's Game</h1>
            <p class="lead">
              Madame Forêt is a psychic who will try to predict your answers 
              to several questions. She gets points for the accuracy of her 
              prediction. Compete with her by guessing what percentage of 
              Americans agrees with you.
            </p>
            <p class="lead">
              <a href="/newgame" class="btn btn-lg btn-default">Play!</a>
            </p>
          </div>

          <div class="mastfoot">
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-1.11.1.min.js"></script>
    <script src="/static/bootstrap.min.css"></script>
<!--     // <script src="../../assets/js/docs.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
