{% extends 'base.html' %}
{% block body %}
<style>
body {
    background-color: black
}
</style>


<div class="colbert">
    <img src="/static/img/colbert.gif" style="width:400px;height:360px">
</div>

<h1><div class="gray-text"> You lost - but machine learning won!</div></h1>

{% if sign_name %}
    <div id="top-ten">
        <form class="form" action="/addtoscoreboard"  method="POST">

            <h3><div class="gray-text">
                You have one of the 10 highest scores! Add your name to the 
                scoreboard:
            </div></h3>
            <br>
            <div class="centered-div name-div">
            <input type="text" class="name" name="name" autofocus>
            <button class="btn btn-primary btn-sample name-button" 
                    id="submit-name" type="submit">Submit</button>
            </div>

        </form>
    </div>
{% endif %}

{% endblock %}

{% block javascript %}

<script>
$(document).ready(function() {
    $("#progress").hide();
});
</script>

{% endblock %}