{% extends 'base.html' %}
{% block body %}
Second question

predicted party = {{ predicted_new_question_translated }}


Generally speaking, do you usually think of yourself as a Republican, Democrat, Independent, or what?<br>


<form class="party-form" action="/nextquestion" required method="POST">
<input type="radio" name="party" value="Strong Republican"> Strong Republican<br>
<input type="radio" name="party" value="Not Strong Republican"> Not Strong Republican<br>
<input type="radio" name="party" value="Independent, Near Republican"> Independent, Near Republican<br>
<input type="radio" name="party" value="Independent"> Independent <br>
<input type="radio" name="party" value="Independent, Near Democrat"> Independent, Near Democrat<br>
<input type="radio" name="party" value="Not Strong Democrat"> Not Strong Democrat<br>
<input type="radio" name="party" value="Strong Democrat"> Strong Democrat<br>
<button type="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% endblock %}