{% extends 'base.html' %}
{% block body %}

<h1> 
	{{ new_question_title }} 
</h1>

<div class="col-md-6">
	{{ new_question_text}}
	<br> 
	<br>
	<form class="form" action="/nextquestion" required method="POST">
		{% for item in new_question_answer_list %}
		<input type="radio" required name="question" id="question" value="{{item[0]}}"> {{item[1]}}
		<span style="color:red" id="{{item[0]}}"></span>
		<br>
		{% endfor %}
		<br>
		<br>

	Guess what percentage of Americans (surveyed in 2010 and 2012) chose the same answer you chose.
	<div>
		</a><span class="col-sm-4 input-group">
	        <input type="text" class="form-control bfh-number" name="guess"  required>
	        <span class="input-group-addon">%</span>
	    </span>

		<span style="color:red" id="percent-who-agree">
			</span>
	</div>
	<br>
	<br>
	<button class="btn btn-lg-primary btn-block" id="prediction_button">
		Reveal Prediction and See How You Did
	</button>
	<br>
	<br>

 </div>	

<div class="col-md-6">
	<canvas id="canvas" height="400" width="400"></canvas>

</div>


<div class="col-md-12">
	<br>
	<div id="next-question" hidden>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Next Question
		</button>
	</div>
</form>
	Question {{ question_numb }} of 18
</div>


	<script>
	// var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

	// make logic to make list that feeds fill color here


	</script>

{% endblock %}