{% extends 'base.html' %}
{% block body %}



{{ new_question_text}}

<br> <br>

<form class="form" action="/nextquestion" required method="POST">
	{% for item in new_question_answer_list %}
	<input type="radio" name="{{new_question_var_name}}" value="{{item}}"> {{item}}<br>
	{% endfor %}
	<br><br>

<button type="btn btn-lg-primary btn-block" id="prediction_button">Reveal Prediction</button><br>

<div id="prediction" hidden>
	predicted {{new_question_var_name}} status: {{predicted_new_question_translated}}<br><br>

<button type="btn btn-lg btn-primary btn-block" type="submit">Next Question</button>
</div>
</form>
 

	Question {{ question_numb }} of 22

{% endblock %}