{% extends 'base.html' %}
{% block body %}

<h1> 
	{{ new_question_title }} 
</h1>

<div class="col-md-6">
	{{ new_question_text}}
	<br> 
	<br>
	<form class="form" action="/nextquestion" required method="POST">
		{% for item in new_question_answer_list %}
		<input type="radio" name="question" value="{{item[0]}}"> {{item[1]}}
		<span style="color:red" id="{{item[0]}}"></span>
		<br>
		{% endfor %}
		<br>
		<br>

	Guess what percentage of Americans (surveyed in 2010 and 2012) chose the same answer you chose.
	<div><p> 
		<input type="number" name="guess" class="form-control" required min="0" max="100">%
		<span style="color:red" id="percent-who-agree">
			</span>
	</p></div>

	<br>
	<br>
	<button type="btn btn-lg-primary btn-block" id="prediction_button">
		Reveal Prediction and See How You Did
	</button>
	<br>
	<br>
	<button type="btn btn-lg btn-primary btn-block" type="submit">
		Next Question
	</button>
	</form>
 </div>	

<div class="col-md-6">
	<div id="prediction" hidden>
		<br>
		<div id="predicted-answer">{{predicted_new_question_answer}}</div>
		<br>
		<br>
		<br>Madame Foret's total: 
		<div id="total_forets_points">  
		</div>

		<br>Your total number of points: 
		<div id="total_users_points"> 
		</div>
		<br><br>

	</div>
</div>


<div class="col-md-12">
	<br>

	Question {{ question_numb }} of 18
</div>

{% endblock %}