
{% extends 'base.html' %}
{% block body %}

<form class="seed-questions-form" action="/nextquestion" method="POST">
    <h2 class="seed-question-header">Please Answer These Questions</h2>
    Your answers will help Madame Foret clear your aura.<br><br>
    Age
    <input type="number" name="age" class="form-control" required autofocus>
    <br><br>

	Highest Grade Completed
    <select class="form-control" name="highest-grade" required>
    	<option selected disabled hidden value=''></option>"
    	<option value="0">0</option>
    	<option value="1">1</option>
    	<option value="2">2</option>
    	<option value="3">3</option>
    	<option value="4">4</option>
    	<option value="5">5</option>
    	<option value="6">6</option>
    	<option value="7">7</option>
    	<option value="8">8</option>
    	<option value="9">9</option>
    	<option value="10">10</option>
    	<option value="11">11</option>
    	<option value="12">12 (High school degree)</option>
    	<option value="13">13</option>
    	<option value="14">14</option>
    	<option value="15">15</option>
    	<option value="16">16 (Undergraduate degree)</option>
    	<option value="17">17</option>
    	<option value="18">18</option>
    	<option value="19">19</option>
    	<option value="20">20 or higher</option>
    </select><br>
    
    <button type="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>


{% endblock %}