
{% extends 'base.html' %}
{% block body %}

<form class="seed-questions-form" action="/nextquestion" method="POST">
    <h2 class="seed-question-header">Please Answer These Questions</h2>
    Your answers will help Madame Foret clear your aura.<br><br>
    Age
    <input type="number" name="age" class="form-control" required autofocus>
    <br>
    Gender
    <select class="form-control" name="sex" required>
    	<option selected disabled hidden value=''></option>"
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <i>Note: Madame Foret appreciates fluid/multiple gender identities but her crystal ball only allows for Male and Female. Apologies.<br><br></i>

    Race
    <select class="form-control" name="race" required>
    	<option selected disabled hidden value=''></option>"
        <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
        <option value="Asian Indian">Asian Indian</option>
	    <option value="Black or African American">Black or African American</option>
        <option value="Chinese">Chinese</option>
        <option value="Filipino">Filipino</option>
	    <option value="Hispanic (Any race)">Hispanic (Any race)</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Native Hawaiian">Native Hawaiian</option>
        <option value="Other Asian">Other Asian</option>
        <option value="Other Pacific Islander">Other Pacific Islander</option>
        <option value="Samoan">Samoan</option>
	    <option value="White">White</option>
	    <option value="Some Other Race">Some Other Race</option>
        <option value="Multiple">Multiple</option>

    </select> <br>

    Region (Where you currently reside)
    <select class="form-control" name="region" required >
    	<option selected disabled hidden value=''></option>"
	    <option value="East North Central (IL, IN, MI, OH, WI)">East North Central (IL, IN, MI, OH, WI)</option>
	    <option value="East South Central (AL, KY, MS, TN)">East South Central (AL, KY, MS, TN)</option>
	    <option value="Middle Atlantic (NJ, NY, PA)">Middle Atlantic (NJ, NY, PA)</option>
	    <option value="Mountain (AZ, CO, ID, MT, NV, NM, UT, WY)">Mountain (AZ, CO, ID, MT, NV, NM, UT, WY)</option>
	    <option value="New England (CT, ME, MA, NH, RI, VT)">New England (CT, ME, MA, NH, RI, VT)</option>
	    <option value="Pacific (AK, CA, HI, OR, WA)">Pacific (AK, CA, HI, OR, WA)</option>
	    <option value="South Atlantic (DE, FL, GA, MD, NC, SC, VA, WV, DC)">South Atlantic (DE, FL, GA, MD, NC, SC, VA, WV, DC)</option>
	    <option value="West North Central (IA, KS, MN, MO, NE, ND, SD)">West North Central (IA, KS, MN, MO, NE, ND, SD)</option>
	    <option value="West South Central (AR, LA, OK, TX)">West South Central (AR, LA, OK, TX)</option>
    </select>
    <br>

	Highest Grade Completed
    <select class="form-control" name="highest-grade" required>
    	<option selected disabled hidden value=''></option>"
    	<option value="0">0</option>
    	<option value="1">1</option>
    	<option value="2">2</option>
    	<option value="3">3</option>
    	<option value="4">4</option>
    	<option value="5">5</option>
    	<option value="6">6</option>
    	<option value="7">7</option>
    	<option value="8">8</option>
    	<option value="9">9</option>
    	<option value="10">10</option>
    	<option value="11">11</option>
    	<option value="12">12 (High school degree)</option>
    	<option value="13">13</option>
    	<option value="14">14</option>
    	<option value="15">15</option>
    	<option value="16">16 (Undergraduate degree)</option>
    	<option value="17">17</option>
    	<option value="18">18</option>
    	<option value="19">19</option>
    	<option value="20">20 or higher</option>
    </select><br>
    
    Employment Status
    <select class="form-control" name="employment-status" required autofocus>
        <option selected disabled hidden value=''></option>"
        <option value="Working Fulltime">Working Fulltime</option>
        <option value="Working Parttime">Working Parttime</option>
        <option value="School">In School</option>
        <option value="Temp Not Working">Temporarily Not Working</option>
        <option value="Unemployed, Laid Off">Unemployed, Laid Off</option>
        <option value="Keeping House">Keeping House</option>
        <option value="Retired">Retired</option>
        <option value="Other">Other</option>
    </select><br>

    Marital Status
    <select class="form-control" name="marital-status" required autofocus>
        <option selected disabled hidden value=''></option>"
        <option value="Divorced">Divorced</option>
        <option value="Married">Married</option>
        <option value="Never Married">Never Married</option>
        <option value="Separated">Separated</option>
        <option value="Widowed">Widowed</option>
    </select><br>
    <button type="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>


{% endblock %}