{% extends 'base.html' %}
{% block body %}
Second question

predicted spiritual = {{ predicted_new_question_translated }}


To what extent do you consider yourself a spiritual person? Are you...<br>


<form class="spiritual-form" action="/nextquestion" required method="POST">
<input type="radio" name="spiritual" value="Not Spiritual At All"> Not Spiritual At All<br>
<input type="radio" name="spiritual" value="Slightly Spiritual"> Slightly Spiritual<br>
<input type="radio" name="spiritual" value="Moderately Spiritual"> Moderately Spiritual<br>
<input type="radio" name="spiritual" value="Very Spiritual"> Very Spiritual <br>
<button type="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

{% endblock %}